/.idea/
/mapgis_gdbmanager_plugin/target/
/mapgis_gdbmanager_plugin/mapgis_gdbmanager_plugin.iml
/mapgis_pluginengine/target/
/mapgis_pluginengine/mapgis_pluginengine.iml
/mapgis_ui_controls/target/
/mapgis_ui_controls/mapgis_ui_controls.iml
/mapgis_workspace_plugin/target/
/mapgis_workspace_plugin/mapgis_workspace_plugin.iml
/mapgis_dockfx/target/
/mapgis_dockfx/mapgis_dockfx.iml
/mapgis_ribbonfx/target/
/mapgis_ribbonfx/mapgis_ribbonfx.iml
/mapgis_ribbonapploader/target/
/mapgis_ribbonapploader/mapgis_ribbonapploader.iml
/mapgis_mapeditor_plugin/target/
/mapgis_mapeditor_plugin/mapgis_mapeditor_plugin.iml
/mapgis_dataconvert_plugin/target/
/mapgis_dataconvert_plugin/mapgis_dataconvert_plugin.iml
/mapgis_rastereditor_plugin/target/
/mapgis_rastereditor_plugin/mapgis_rastereditor_plugin.iml
/bin/libs/
/bin/plugin/
/bin/mapgis_dockfx.jar
/bin/mapgis_ribbonfx.jar
/bin/mapgis_pluginengine.jar
/bin/mapgis_ui_controls.jar
/bin/mapgis_ribbonapploader.jar
/bin/mapgis_ribbonapploader.jar.config
/desktop.iml
